
<h4>Forget Password</h4>
<div class="header"> 
   <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="width: 400px;">
       <div class="form-group">
               <label style="text-align:center;">Enter registered email</label>
               <input type="email" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
               <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                   <div *ngIf="f.userName.errors.required">Email is required</div>
               </div>
               <br>
       </div>
       <div class="button">
           <button class="btn btn-primary mr-1" id="mailButton">Send Mail</button>

          
           <button class="btn btn-secondary" id="loginButton" type="button" [routerLink]="['']">Login</button>
       </div>
   </form>
   
   <div class="errorDivision">
       {{message}}
   </div>
</div>

