<!-- <div class="header">
<div class="menu" >
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ShoppingApp</a>
      </div>
      <ul class="nav navbar-nav">
       


        <! <li><a routerLink="retailerview">View Retailers</a></li>
        <li><a routerLink="OneRetailer">One Retailers</a></li>
        <li><a routerLink="addProduct">Add Products</a></li>
        <li><a routerLink="updateproduct">Update Products</a></li>
        <li><a routerLink="addRetailer">Add Retailer</a></li>-->
        <!-- <li><a routerLink="">Login Retailer</a></li>
        <li><a routerLink="FrontPage">Front Page</a></li>  -->

        
    
<!--       
      </ul>
      <div *ngIf="user">
       {{user}}

      </div>
      <div >
      <button  class="btn btn-success" (click)="logout()">  LogOut  </button> 
    </div>
    </div>
  </nav>
</div> -->

<router-outlet></router-outlet>